<nav class="navbar navbar-expand-lg bg-body-tertiary " style="background-color:#D81E05" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Biblioteca Oxxo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#">Carpeta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Subir Archivo</a>
          </li>
          
         
        </ul>
                <form class="d-flex" role="search">
                
                    <a class="nav-link ">Volver a os-oxxo</a>
               
          
        </form> 
      </div>
    </div>
  </nav>
